.dp-highlight .ui-state-default {
  background: #484;
  color: #FFF;
}

.ui-button .ui-icon.custom-calendar-icon {
  background-image: url('custom-calendar-icon.svg');
  background-size: 30px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  left:7px;
}

.ui-button .ui-icon.custom-close-icon {
  background-image: url('custom-close-icon.svg');
  background-size: 30px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 12px;
  left:7px;
}

#datepicker-ui{
  display: inline-block;
  position: absolute;
  right: 20px;
  bottom: 140px;
  z-index: 99;
}

#datepicker-menu {
  position: relative;
  display: none;
  vertical-align: middle;
  padding: 10px;
  background-color: white;
  float:right;
  border-radius: 5px;
  border-width: thin;
  border-style: solid;
  height: 270px;
  width: 250px;
}

#date-range-inputs {
  text-align:right;
  float: left;
  margin-bottom: 0px;
  margin-top: 5px;
  margin-right: 5px;

}

#input1, #input2{
  margin-bottom: 5px;
  width: 120px;
}

#calendar{
  position: absolute;
  float:right;
  margin-top: 10px;
  right: 20px;
}

#calendar-button {
  display: none;
  position: relative;
  float: right;
  vertical-align: middle;
  border-radius: 4px;
  background: white;
}

#update-date-button{
  float:right;
  text-align: center;
  font-size: 14px;
  right: 5px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 3px;
  border-style: solid;
  border-width: thin;
  border-color: darkgrey;
  border-radius: 3px;
  background-color: #e6e6e6;
}

#lock-daterange{
  position: relative;
  top: 2px;
  left: 8px;
}

#lock-daterange-checkbox{
  position: relative;
  top: 2px;
}
