html, body {
  height: 100%;
  overflow: hidden;
}
.player {
  border: 0px !important;
}

.snaplapse_keyframe_list_item.letterbox .snaplapse_keyframe_list_item_title {
  font-size: 15px;
}
.presentationSlider .snaplapse_keyframe_container {
  background-color: black !important;
  border: 0px !important;
  z-index: 100;
}
.keyframeSubtitleBoxForHovering {
  display: none !important;
}
#legend {
  font-size: 30px;
  margin-left: 6px;
  border-bottom: 1px solid #656565;
  padding-bottom: 6px;
}

.legendColor {
  width: 22px;
  height: 22px;
  margin-bottom: 4px;
}
.legendTitle {
  margin-left: 7px;
  margin-bottom: 4px;
  color: #656565;
}
.googleLogo {
  display: none !important;
}
#productLogo {
  font-size: 24px;
  padding-bottom: 2px;
}
#contributors {
  font-size: 13px;
}
#baseLayerCreditContainer {
  color: white;
  font-size: 12px;
  background-image: none;
  text-shadow: -1px 0 #656565, 0 1px #656565, 1px 0 #656565, 0 -1px #656565;
  height: 19px;
  position: absolute;
  bottom: -9px;
  background: rgba(123, 123, 123, 0.2);
  padding-left: 2px;
  left: 50%;
  opacity: 0.50;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0 auto;
  cursor: default;
  z-index: 99;
}
::-webkit-input-placeholder {
  color: rgba(50,50,50,1.0);
}
.ui-widget-header {
  height: 20px;
}
.ui-menu-item {
  font-size: 14px;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  background-image: none !important;
}
.ui-dialog-titlebar-close {
  width: 25px !important;
  height: 25px !important;
  top: 16px !important;
  background: #EFEFEF !important;
}

.ui-dialog-titlebar-buttonpane > .ui-dialog-titlebar-close {
  top: 12px !important;
}

.ui-selectmenu-button {
  font-size: 14px !important;
  background: #EFEFEF !important;
  height: 45px !important;
  border-radius: 2px;
  width: calc(100% - 2px) !important;
}
.ui-selectmenu-button span.ui-selectmenu-text {
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 11px !important;
  padding-bottom: 5px !important;
}
.customHelpLabel-touchFriendly.ui-button {
  top: -26px;
}
.customHelpLabel {
  display: none !important;
}
.extras-content-video {
  position: absolute !important;
  top: 0px !important;
  left: 0px !important;
  bottom: 0px !important;
  right: 0px !important;
  height: auto !important;
  width: auto !important;
  background: black !important;
}
#extras-content {
  display: none;
  z-index: 1000;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: absolute !important;
  top: 35px !important;
  left: 0px !important;
  right: 0px !important;
  bottom: 0px !important;
  width: auto !important;
  height: auto !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ghinda-video-player {
  width: 100% !important;
  height: 100% !important;
}
#extras-video {
  width: 100% !important;
  height: 100% !important;
}
.ui-selectmenu-menu {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.top-panel {
  border-radius: 0px;
  outline: none;
  font-size: 19px;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}
#layers-list label .credit, .credit {
  color: #a7a7a7;
  font-size: 14px;
  position: relative;
  top: -1px;
  right: -4px;
}
#layers-list label input[type='radio'], #layers-list label input[type='checkbox'] {
  position: relative;
  width: 17px;
  height: 17px;
  top: 4px;
  margin-right: 6px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  cursor: pointer;
}
#layers-list label {
  cursor: pointer;
  color: black;
  display: block;
  width: auto;
  margin-right: 0;
  margin-top: -5px;
  margin-left: -3px;
  margin-bottom: 0;
  padding-top: 9px;
  padding-bottom: 11px;
  padding-left: 15px;
}
.top-panel label {
  border: 1px solid black !important;
  color: white !important;
}
.top-panel label .credit {
  color: #A1A1A1 !important;
}

.base-map-radio {
  width: 100%;
}

#location_search {
  position: absolute;
  top: 20px;
  left: 160px;
  width: 250px;
  padding-bottom: 11px;
  padding-top: 12px;
  padding-left: 15px;
  padding-right: 15px;
  background: rgba(255,255,255,1);
  margin-left: -140px;
  border: 1px solid #656565;
  font-size: 17px;
  outline: none;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
          box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  z-index: 90;
}

#layers-list {
  z-index: 99;
  text-align: left;
}

#layers-menu {
  height: 100%;
}

#theme-menu {
  display: inline;
}

.layers-scroll-vertical {
  overflow-y: auto;
  height: calc(100% - 120px);
}

#controlsContainer {
  width: 52px;
  height: 100px;
  pointer-events: none;
  position: relative;
  z-index: 90;
  display: block;
  left: 0px;
  top: calc(47% - 120px);
  height: 100%;
}

#appControls, #navControls {
  position: absolute;
  pointer-events: all;
}

#main-hamburger-menu::after {
  content: "";
  display: block;
  top: 0px;
  position: absolute;
  right: -10px;
  opacity: 0;
  width: 10px;
  height: 100%;
}

#main-hamburger-menu.layerGraphs {
  height: calc(100% - 319px) !important;
}

#layers-list-title {
  font-size: 17px;
  padding-left: 15px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-bottom: 1px solid #929292;
  background: white;
  -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
          box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
  z-index: 10;
  border-top: 0px;
  border-right: 0px;
  position: relative;
}

.layers-list-close::after, .themes-list-close::after {
  content: "";
  display: block;
  top: -7px;
  position: absolute;
  right: -9px;
  opacity: 0;
  width: 30px;
  height: 30px;
}


.layers-list-close, .themes-list-close {
  background-image: url(../../images/close-dark.png);
  width: 12px;
  height: 12px;
  opacity: 0.7;
  -webkit-background-size: contain !important;
          background-size: contain !important;
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.layers-list-close:hover, .themes-list-close:hover {
  opacity: 1;
}

#layers-list.right-panel {
  background: #d2d2d2;
  border-radius: 2px;
  -webkit-box-shadow: 4px 2px 3px rgba(0,0,0,0.3);
          box-shadow: 4px 2px 3px rgba(0,0,0,0.3);
  outline: none;
  font-size: 14px;
  display: none;
  position: relative;
  float: left;
  width: 291px;
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;;
  -webkit-perspective: 1000;
  -webkit-font-smoothing: antialiased;
  z-index: 100;
}

#timeMachine {
  position: relative;
  background-color: black !important;
  overflow: hidden !important;
  width: 100% !important;
  height: 100%;
}

#timeMachine:not(.letterbox).layerGraphs {
  height: calc(100% - 225px) !important;
}

#timeMachine.presentationSliderSelection {
  height: calc(100% - 35px) !important;
}
#timeMachine.presentationSliderSelectionOverflow {
  height: calc(100% - 52px) !important;
}
#baseLayerCreditContainer.layerGraphs {
  bottom: 85px !important;
}
#baseLayerCreditContainer.minimalUIMode {
  bottom: 0px !important;
}
.controls.layerGraphs {
  bottom: 95px !important;
}
.customControl.layerGraphs {
  bottom: 95px !important;
}

.customControl.hyperwall {
  bottom: -7px;
}

.scaleBarContainer.hyperwall {
  bottom: 120px !important;
}

.scaleBarContainer.noTimeline {
  bottom: 20px !important;
}

.scaleBarContainer.layerGraphs {
  bottom: 185px !important;
}

.scaleBarContainer.layerGraphs.minimalUIMode {
  bottom: 85px !important;
}

#logosContainer.hyperwall {
  bottom: 110px;
}

#logosContainer.layerGraphs {
  bottom: 175px !important;
}

#logosContainer.hyperwall.layerGraphs {
  bottom: 200px !important;
}

#logosContainer.noTimeline, #logosContainer.minimalUIMode {
  bottom: 20px !important;
}

#letterbox-bottom {
  position: relative;
  width: 100%;
  bottom: 0px;
  left: 0px;
  height: 312px;
  background: black;
  z-index: 100;
}
.customToggleSpeed-touchFriendly.ui-button {
  height: 33px;
  width: 71px;
  left: 99px;
}
.current-location-text-container {
  display: none;
  position: absolute;
  bottom: 94px;
  right: calc(50% - 220px);
  z-index: 99;
  pointer-events: none;
}

.current-location-text-container.hyperwall, .annotations-resume-exit-container.hyperwall {
  bottom: 105px;
}

.current-location-text-container.layerGraphs, .annotations-resume-exit-container.layerGraphs {
  bottom: 188px;
}

.annotations-resume-exit-container {
  display: none;
  position: absolute;
  bottom: 94px;
  z-index: 99;
  right: calc(50% - 75px);
  pointer-events: all;
  background: rgba(0, 0, 0, 0.65);
  border: 1px solid #6f6f6f;
  border-radius: 2px !important;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  -webkit-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  color: #e6e6e6;
  text-align: center;
  width: 150px;
  height: 68px;
  padding: 4px;
}

.annotations-resume-button {
  max-width: 62px;
  cursor: pointer;
}

.annotations-resume-button-icon {
  width: 20px;
  height: 20px
}

.annotations-resume-button-icon {
  width: 20px;
  height: 20px
}

.annotations-exit-button-icon {
  width: 16px;
  height: 16px;
  padding-bottom: 2px;
}

.annotations-resume-button:hover, .annotations-exit-button:hover {
  filter: invert(55%);
  -webkit-filter: invert(55%);
  color: #727273;
}

.annotations-exit-button {
  max-width: 62px;
  cursor: pointer;
  padding-left: 6px;
  padding-top: 3px;
}

.annotations-button-separator {
  border-right: 1px solid white;
  padding-right: 6px;
}

.next-annotation-location {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
  border-bottom-right-radius: 2px !important;
  border-top-right-radius: 2px !important;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 471px;
  bottom: 1px;
  pointer-events: auto;
}
.previous-annotation-location {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
  border-bottom-right-radius: 2px !important;
  border-top-right-radius: 2px !important;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: -71px;
  bottom: 1px;
  pointer-events: auto;
}
.current-location-text {
  background: rgba(0, 0, 0, 0.65);
  padding-top: 15px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 15px;
  width: 414px;
  border: 1px solid #6f6f6f;
  border-radius: 2px !important;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  -webkit-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  color: #e6e6e6;
  text-align: center;
}

.current-location-text-title {
  font-size: 19px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -webkit-perspective: 1000;
  margin-top: 0px;
  -webkit-backface-visibility: hidden;
  -ms-transform: translateZ(0); /* IE 9 */
  -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
  transform: translateZ(0);
  text-align: left;
  display: inline-block;
}

.current-location-text-container.letterbox .current-location-text-title {
  font-size: 20px;
}

.current-location-text-title ~ p:empty {
  margin-top: 0;
}

.current-location-text-title:empty ~ p {
  margin-top: 0;
}

.current-location-text p {
  margin: 0;
  margin-top: 0.35em;
  font-size: 14px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -ms-transform: translateZ(0); /* IE 9 */
  -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
  transform: translateZ(0);
  text-align: left;
}

.current-location-text-container.letterbox .current-location-text p {
  font-size: 16px;
}

#letterbox-content {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#layers-legend {
  z-index: 90;
  display: none;
  position: absolute;
  right: 19px;
  top: 20px;
  width: auto;
  padding-left: 4px;
  padding-right: 8px;
  padding-top: 4px;
  background: white;
  color: #222222;
  border-radius: 2px;
  border: 1px solid #656565;
  -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
          box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  outline: none;
  font-size: 15px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  pointer-events: none;
  border: 1px solid #6f6f6f;
  color: #e6e6e6;
  background: rgba(0, 0, 0, 0.65);
}
.legend-entry-title {
  font-size: 17px;
}
.waterLegendGradient {
  height: 10px;
  background-image: -webkit-linear-gradient(left, blue, #bf7fbf 50%, #ffffff 100%);
  background-image: -o-linear-gradient(left, blue, #bf7fbf 50%, #ffffff 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(blue), color-stop(50%, #bf7fbf), to(#ffffff));
  background-image: -ms-linear-gradient(left, blue, #bf7fbf 50%, #ffffff 100%);
  background-image: linear-gradient(left, blue, #bf7fbf 50%, #ffffff 100%);
}
.waterChangeLegendGradient {
  height: 10px;
  background-image: -webkit-linear-gradient(left, #ff0000 0%, #000000 50%, #00ff00 100%);
  background-image: -o-linear-gradient(left, #ff0000 0%, #000000 50%, #00ff00 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(#ff0000), color-stop(50%, #000000), to(#00ff00));
  background-image: -ms-linear-gradient(left, #ff0000 0%, #000000 50%, #00ff00 100%);
  background-image: linear-gradient(left, #ff0000 0%, #000000 50%, #00ff00 100%);
}

.ndviAnomalyLegendGradient {
  height: 10px;
  background-image: -webkit-linear-gradient(left, #ffffff 0%, #ff4c0c 100%);
  background-image: -o-linear-gradient(left, #ffffff 0%, #ff4c0c 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#ff4c0c));
  background-image: -ms-linear-gradient(left, #ffffff 0%, #ff4c0c 100%);
  background-image: linear-gradient(left, #ffffff 0%, #ff4c0c 100%);
}

#presentation-slider-selection {
  display: none;
  position: absolute;
  bottom: 0px;
  left: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-x: auto;
  width: 100%;
  background: rgba(53, 53, 53, 1);
}

#presentation-slider-selection table {
  height: 36px;
}

#presentation-slider-selection div {
  color: white;
  white-space:nowrap;
}

#presentation-slider-selection td.clickable:hover {
  background: rgba(83, 83, 83, 1);
}

#presentation-slider-selection td {
  border-right: 1px solid white;
  padding-left: 10px;
  padding-right: 10px;
}

.player.letterbox {
  height: 100% !important;
}

.player.letterbox.layerGraphs {
  height: calc(100% - 140px) !important;
}

#csvChartContainer.letterbox {
  z-index: 100;
}

.location_search_div.letterbox {
  width: 177px;
  position: absolute;
  bottom: auto;
  top: -21px;
  height: 74px;
  left: -13px;
}
#location_search.letterbox {
  position: relative;
  top: 32px;
  left: 23px !important;
  width: 177px;
  margin: 0;
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0);
          box-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.letterbox-bottom-picker-table, .letterbox-bottom-picker-results-table, .letterbox-base-layers-table {
  border-collapse: collapse;
  table-layout: fixed;
  height: 100%;
}

.letterbox-base-layers-table {
  width: 100%;
}

.current-location-text-container.letterbox, .annotations-resume-exit-container.letterbox {
  top: 20px !important;
  left: 20px !important;
  right: initial;
}

.current-location-text-container.hyperwall.layerGraphs, .annotations-resume-exit-container.hyperwall.layerGraphs {
  bottom: 206px;
}

.scaleBarContainer.hyperwall.layerGraphs {
  bottom: 215px !important;
}

.annotation-nav.letterbox {
  display: none;
}

#letterbox-bottom-picker-content-wrapper,  #letterbox-bottom-picker-results-content-wrapper {
  height: 100%;
  width: 100%;
}

.presentationSlider.letterbox {
  top: 0px;
  position: relative !important;
}

#presentation-slider-selection.letterbox table {
  height: 62px;
}

#letterbox-bottom-controls-container {
  width: 100%;
  height: 100%;
  position: relative;
  color: white;
  table-layout: fixed;
  border-top: 1px solid #525252;
}

.letterbox-list-button-highlight {
  -webkit-box-shadow: 0 0 20px 5px #efefef;
          box-shadow: 0 0 20px 5px #efefef;
  font-weight: bold;
}

#letterbox-list-themes-button {
  width: 110px;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 12px;
  padding-top: 9px;
  padding-bottom: 9px;
}

#letterbox-list-layers-button {
  width: 110px;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 12px;
  padding-top: 9px;
  padding-bottom: 9px;
}

#letterbox-clear-layers-button {
  width: 80px;
  font-size: 15px;
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px;
}

#letterbox-bottom-controls-container th {
  text-align: left;
  padding-left: 8px;
  text-decoration: underline;
  vertical-align: top;
}

#letterbox-bottom-controls-container caption {
  text-decoration: underline;
  padding-bottom:5px;
  padding-left: 5px;
  font-weight: bold;
  text-align: left;
}

#letterbox-base-layers {
  position: relative;
  top: 60px;
  height: calc(100% - 175px);
  width: 60%;
  float: left;
}

.letterbox-bottom-picker-table label, .letterbox-bottom-picker-results-table label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  cursor: pointer;
  margin-right: 20px;
}

#letterbox-bottom-picker {
  padding-right: 5px;
  border-left: 1px solid #525252;
  vertical-align: top;
}

#letterbox-bottom-picker-results {
  vertical-align: top;
}

#letterbox-bottom-picker-content {
  border-right: 1px solid #525252;
  height: calc(100% - 90px);
  overflow-x: auto;
}

#letterbox-control-buttons {
  position: relative;
  text-align: right;
  right: 5px;
  height: 100%;
  top: 8px;
  float: right;
}

#letterbox-bottom-picker-results-content {
  height: calc(100% - 90px);
  overflow-x: auto;
}

.pointer {
  cursor: pointer;
}

#letterbox-bottom input[type='checkbox'], letterbox-bottom-picker-table input[type='radio'] {
  cursor: pointer;
}

.clickable {
  cursor: pointer;
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
}

.share {
  display: none;
}

.layers-scroll-vertical::-webkit-scrollbar, #csvChartLegend::-webkit-scrollbar, #theme-list::-webkit-scrollbar {
  -webkit-appearance: none;
  background: transparent;
  overflow: visible;
  width: 14px;
}

.layers-scroll-vertical::-webkit-scrollbar:vertical, #csvChartLegend::-webkit-scrollbar:vertical, , #theme-list::-webkit-scrollbar:vertical {
  border-width: 6px 4px;
  min-height: 40px;
}

.layers-scroll-vertical::-webkit-scrollbar-track-piece, #csvChartLegend::-webkit-scrollbar-track-piece,, #theme-list::-webkit-scrollbar-track-piece {
  background-color: #f1f1f1;
}

.layers-scroll-vertical::-webkit-scrollbar-corner, #csvChartLegend::-webkit-scrollbar-corner, #theme-list::-webkit-scrollbar-corner {
  background: transparent;
}

.layers-scroll-vertical::-webkit-scrollbar-thumb, #csvChartLegend::-webkit-scrollbar-thumb, #theme-list::-webkit-scrollbar-thumb {
  background-color: #ADADAD;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
}

.layers-scroll-vertical::-webkit-scrollbar-thumb:hover, #csvChartLegend::-webkit-scrollbar-thumb:hover, #theme-list::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

.ui-multiselect-menu ul{
  width: auto !important;
  margin-top: -3px !important;
  overflow:hidden !important;
  padding-left: 6px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ui-multiselect-menu li{
  font-size: 17px;
  line-height:1.5em !important;
  border-bottom:1px solid #ccc !important;
  float:left !important;
  display:inline !important;
}
.ui-multiselect {
  font-size: 15px;
}

.single li  { width:100% !important;}
.double li  { width:50% !important;}
.triple li  { width:33.333% !important;}
.quad li    { width:25% !important; }
.six li     { width:16.666% !important; }

.ui-multiselect-menu .credit {
  color: #555555;
  font-size: 11px;
  position: relative;
  top: -2px;
  right: -4px;
}

button:focus {outline:0;}

input:focus {outline:0;}

a:focus { outline:0; }

.clear-theme {
  position: absolute;
  margin-left: 8px;
  font-size: 9px;
  padding-left: 5px;
}

.layer-in-theme-selected {
  font-weight: bold;
}

.svg-legend {
  padding-top: 5px;
}

#current-location-text-picture {
  -webkit-backface-visibility: hidden;
  -ms-transform: translateZ(0); /* IE 9 */
  -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
  transform: translateZ(0);
  float: left;
  height: 212px;
  width: 238px;
  padding-top: 2px;
  background-repeat: no-repeat;
  margin-right: 8px;
  background-position: center;
  margin-top: 4px;
}

.clearLayers.ui-button {
  position: relative;
  width: 274px;
  height: 28px;
  background: white;
  z-index: 200;
  color: black;
  padding: 15px;
  border-top: 1px solid #929292;
  -webkit-box-shadow: 0px -1px 4px rgba(85,89,96,0.3);
          box-shadow: 0px -1px 4px rgba(85,89,96,0.3);
  vertical-align: middle;
  display: none;
}

.clearLayers .ui-button-text {
  padding: .4em 1em .4em 0em;
  margin-top: -1px;
  margin-left: 2px;
}

.ui-icon.clearLayersIcon {
  background-image: url(../../images/undo-arrow.png);
  width: 25px;
  height: 25px;
  opacity: 0.7;
  -webkit-background-size: contain !important;
          background-size: contain !important;
  margin-left: 12px;
  margin-top: -12px;
}

.ui-button-text.clearLayersIcon {
  margin-left: -32px;
}

.toggleLayerPanelBtn.ui-button {
  /* should be 52x52 but it comes out larger than the others if so... */
  width: 50px !important;
  height: 50px !important;
}

.ui-icon.toggleLayerPanelBtnIcon {
  background-image: url(../../images/layers-icon.png);
  width: 30px;
  height: 30px;
  opacity: 0.7;
  -webkit-background-size: contain !important;
          background-size: contain !important;
  margin-left: -15px;
  margin-top: -15px;
}

.ui-icon.ui-icon-plus, .ui-button .ui-icon.ui-icon-custom-plus {
  background: url(../../images/plus.png) !important;
  width: 25px;
  height: 25px;
  opacity: 0.7;
  -webkit-background-size: contain !important;
          background-size: contain !important;
  margin-left: -11px;
  margin-top: -12px;
}

.zoomout .ui-icon.ui-icon-minus, .zoomout .ui-button .ui-icon.ui-icon-custom-minus {
  background: url(../../images/minus.png) !important;
  width: 25px;
  height: 25px;
  opacity: 0.7;
  -webkit-background-size: contain !important;
          background-size: contain !important;
  margin-left: -11px;
  margin-top: -12px;
}

.zoomall.ui-button {
  margin-top: 0px !important;
}

.ui-dialog-titlebar-close {
  margin-top: -14px !important;
}

.ui-dialog .ui-dialog-titlebar-minimize, .ui-dialog .ui-dialog-titlebar-restore {
  width: 25px !important;
  height: 25px !important;
}

.ui-dialog .ui-dialog-titlebar-buttonpane>a {
  margin-top: -2px !important;
  border-radius: 2px !important;
  background: #EFEFEF !important;
  border: none !important;
  margin-right: 2px !important;
}

.ui-dialog .ui-dialog-titlebar-minimize span {
  margin: 1px !important;
  margin-top: 4px !important;
  margin-left: 5px !important;
}

.ui-dialog .ui-dialog-titlebar-restore span {
  margin-top: 5px !important;
  margin-left: 4px !important;
}

.controlButton.ui-button {
  margin-top: 0px !important;
  display: block;
  width: 52px;
  height: 52px;
  background: white;
  border-bottom-right-radius: 2px !important;
  border-top-right-radius: 2px !important;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  position: relative;
}

#appControls .controlButton, #navControls .controlButton {
  border-left: 1px solid #656565;
  border-right: 1px solid #656565;
}

#appControls .controlButton:last-child, #navControls .controlButton:last-child {
  border-bottom: 1px solid #656565;
  border-bottom-right-radius: 4px !important;
}

#appControls .controlButton:first-child, #navControls .controlButton:first-child {
  border-top: 1px solid #656565;
  border-top-right-radius: 4px !important;
}

.ui-icon.ui-icon-home, .ui-button .ui-icon.ui-icon-custom-home {
  background: url(../../images/globe4.png) !important;
  width: 30px;
  height: 30px;
  opacity: 0.7;
  -webkit-background-size: contain !important;
          background-size: contain !important;
  margin-left: -15px;
  margin-top: -15px;
}


.ui-button.ui-state-hover .toggleLayerPanelBtnIcon {
  opacity: 1;
}

.ui-button.ui-state-hover .clearLayersIcon {
  opacity: 1;
}

.ui-button.ui-state-hover .ui-icon-plus, .ui-button.ui-state-hover .ui-icon-minus, .ui-button.ui-state-hover .ui-icon-home, .ui-button.ui-state-hover .ui-icon.ui-icon-custom-home, .ui-button.ui-state-hover .ui-icon.ui-icon-custom-minus, .ui-button.ui-state-hover .ui-icon.ui-icon-custom-plus {
  opacity: 1;
}

.zoomSlider {
  display: none;
}

.pan {
  display: none;
}

.sideToolBar {
  display: none;
}

.customInstructions span.customMovehelp {
  top: calc(50% - 200px) !important;
  left: calc(50% - 70px) !important;
}

.customInstructions-touchFriendly span.customMovehelp {
  left: calc(50% - 190px) !important;
}

.customInstructions span.customZoomhelp {
  top: 20px !important;
}

.ui-icon.ui-icon-custom-gear {
  background: url(../../images/settings.png) !important;
  width: 30px;
  height: 30px;
  -webkit-background-size: contain !important;
          background-size: contain !important;
  opacity: 0.7;
  margin-left: -15px;
  margin-top: -15px;
}

.ui-icon.ui-icon-custom-share {
  background: url(../../images/share.png) !important;
  width: 30px;
  height: 30px;
  -webkit-background-size: contain !important;
          background-size: contain !important;
  opacity: 0.7;
  margin-left: -16px;
  margin-top: -15px;
}

.ui-icon.ui-icon-right-arrow {
  background: url(../../images/right-arrow.png) !important;
  width: 30px;
  height: 30px;
  -webkit-background-size: contain !important;
          background-size: contain !important;
  opacity: 0.7;
  margin-left: -14px;
  margin-top: -15px;
}

.ui-icon.ui-icon-left-arrow {
  background: url(../../images/left-arrow.png) !important;
  width: 30px;
  height: 30px;
  -webkit-background-size: contain !important;
          background-size: contain !important;
  opacity: 0.7;
  margin-left: -16px;
  margin-top: -15px;
}

.ui-button.ui-state-hover .ui-icon.ui-icon-custom-gear, .ui-button.ui-state-hover .ui-icon.ui-icon-custom-share, .ui-button.ui-state-hover .ui-icon.ui-icon-right-arrow, .ui-button.ui-state-hover .ui-icon.ui-icon-left-arrow {
  opacity: 1;
}

:focus, :active {
  outline: 0;
}

.ui-accordion-header {
  background: #e6e6e6 !important;
}

.map-layer-div > table {
  width: 100%;
  overflow:hidden;
}

#layers-list .ui-accordion .ui-accordion-content {
  padding: 0px;
  width: 100% !important;
  background: #dcdcdc;
}

.active-layers-in-category {
  position: absolute !important;
  right: .5em !important;
  top: 50% !important;
  margin-top: -8px !important;
}

.map-layer-div .ui-corner-all {
  border-radius: 0px !important;
}

.ui-selectmenu-open {
  top: 0px !important;
}

#csvChartContainer {
  height: 230px;
  width: 100%;
  display: none;
  position: absolute;
  bottom: 0px;
  z-index: 10;
}

#csvChartLegend {
  width: 140px;
  height: 225px;
  position: absolute;
  bottom: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 14px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: none;
  z-index: 100;
}

#csvChartLegendList {
  line-height: 18px;
  margin-left: -11px;
}

#csvChartLegendList li {
  font-size: 34px;
  left: 7px;
  position: relative;
}

#csvChartLegendList li span{
  color: #8e8e8e;
  font-size: 14px;
  left: -10px;
  position: relative;
  top: -5px;
}

.chartEntrySelected span {
  color: black !important;
}

#presentation-slider-hamburger-wrapper {
  height: 95px;
  width: 20px;
  color: white;
  position: sticky;
  position: -webkit-sticky;
  left: 0px;
  z-index: 100;
  display: none;
  cursor: pointer;
  top: 2px;
}

.snaplapse_keyframe_list.has-hamburger {
  margin-left: 175px !important;
  top: -94px !important;
}

.hamburger {
  width: 70px;
  height: 100%;
  display: inline-block;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: #3c823c;
  border: 0;
  margin: 0;
  padding-top: 1px;
  overflow: visible;
  cursor: pointer;
}

.hamburger:hover {
  background-color: #469646;
}

#theme-title-container:hover:not(.letterbox)  {
  background-color: #383737
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
  margin-top: 5px;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}

.menu{
  display: none;
  -webkit-box-shadow: 4px 0px 3px rgba(0,0,0,0.3);
          box-shadow: 4px 0px 3px rgba(0,0,0,0.3);
  top: 0px;
  width: 305px;
  background:#e0e0e0;
  position: absolute;
  text-align: center;
  font-size: 15px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform:capitalize;
  height: calc(100% - 93px);
  z-index: 99;
 }

.menu ul {
  color: #555;
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
  height: 100%;
  overflow: hidden;
}

.menu li:not(.has-children) {
  display: block;
  border-top:#d3d3d3 1px solid;
  border-bottom:#d3d3d3 1px solid;
  color: #555;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;
}

.menu li:not(.has-children):hover {
  color: #212121;
  border-top: #999 1px solid;
  border-bottom: #999 1px solid;
}

.annotation-nav.ui-state-disabled {
  background-color: #7a7a7a;
  border-color: #7a7a7a;
  opacity: 0.9;
}

.checkmark:before {
  /* Add another block-level blank space */
  content: '';
  display: inline-block;
  /* Make it a small rectangle so the border will create an L-shape */
  width: 4px;
  height: 12px;
  /* Add a white border on the bottom and left, creating that 'L' */
  border: solid #000;
  border-width: 0 2px 2px 0;
  /* Rotate the L 45 degrees to turn it into a checkmark */
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  position: relative;
  margin-right: -6px;
  left: 265px;
}

#layers-list .ui-accordion .ui-accordion-header {
  margin: 0px 0 0 0;
  padding: 0.90em .5em .5em .7em;
}

#layers-list .ui-accordion .ui-accordion-icons {
  padding-left: 2.2em;
  padding-bottom: .8em;
}

#layers-list .ui-selectmenu-button {
  display: block;
}

#theme-title-container {
  left: 70px;
  position: absolute;
  top: 0px;
  background: #252525;
  height: 100%;
  width: 90px;
  z-index: 99999;
  border-left: 1px solid #424242;
  padding-left: 15px;
  box-shadow: 3px 0px 8px 0px #0e0e0e;
}

#theme-title-container.letterbox {
  cursor: default;
  left: -1px;
  width: 160px;
}

#theme-title {
  top: 50%;
  position: absolute;
  width: inherit;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

#theme-list {
  overflow-y: auto;
  height: calc(100% - 61px);
  font-size: 16px;
}

#theme-list-caption {
  padding: 11px;
  text-align: left;
  font-size: 17px;
  background-color: white;
  -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
          box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
  border-bottom: 1px solid #666666;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-top, .ui-corner-right, .ui-corner-br {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.customControl {
  bottom: 6px !important;
}

#productLogo a, #contributors a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

#logosContainer {
  bottom: 83px;
  position: absolute;
  right: 20px;
  text-align: right;
  color: #e6e6e6;
  -webkit-font-smoothing: antialiased;
  -webkit-perspective: 1000;
  text-shadow: -1px 0 #656565, 0 1px #656565, 1px 0 #656565, 0 -1px #656565;
  cursor: default;
  z-index: 99;
  pointer-events: none;
}

#layers-legend.noTimeline {
  -webkit-transition: bottom 0.40s;
  -ms-transition: bottom 0.40s;
  -o-transition: bottom 0.40s;
  transition: bottom 0.40s;
}

#layers-legend.letterbox {
  bottom: 143px;
  top: initial;
}

#layers-legend.hyperwall.letterbox {
  bottom: 170px;
}

#layers-legend.letterbox.layerGraphs {
  bottom: 235px;
}

#layers-legend.hyperwall.letterbox.layerGraphs {
  bottom: 260px;
}

#layers-legend.letterbox.noTimeline {
  bottom: 80px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.timelineSliderFiller {
  right: 20px !important;
}

.offscreen {
  left: -9000px !important;
  display: none !important;
}

.player.presentationSliderOffscreen {
  bottom: 0px !important;
}

.customTimeline {
  right: 9px !important;
}


.accordion-menu ul {
  /* by default hide all sub menus */
  display: none;
}

.accordion-menu .main-hamburger-selection {
  /* hide native checkbox */
  position: absolute;
  opacity: 0;
}

.accordion-menu label, .accordion-menu a {
  position: relative;
  display: block;
}

.accordion-menu .has-children {
  border-bottom: 1px solid #656565;
}
.accordion-menu .selection-heading {
  padding: 18px 18px 18px 0px;
  background: #4d5158;
  -webkit-box-shadow: inset 0 -1px #555960;
          box-shadow: inset 0 -1px #555960;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  z-index: 99;
}

.accordion-menu .selection-heading:hover {
  background: #4d5158;
  opacity: 0.94;
}


.accordion-menu input[type=radio]:checked + label {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(85, 89, 96, 0.7);
          box-shadow: 0px 4px 4px 0px rgba(85, 89, 96, 0.7);
}



.no-touch .accordion-menu label:hover, .no-touch .accordion-menu a:hover {
  background: #52565d;
}

.accordion-menu label {
  cursor: pointer;
}

.no-touch .accordion-menu ul label:hover, .no-touch
.accordion-menu ul a:hover {
  background: #3c3f45;
}
.accordion-menu > li:last-of-type > label,
.accordion-menu > li:last-of-type > a,
.accordion-menu > li > ul > li:last-of-type label,
.accordion-menu > li > ul > li:last-of-type a {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.accordion-menu ul ul label,
.accordion-menu ul ul a {
  padding-left: 100px;
}
.accordion-menu ul ul ul label,
.accordion-menu ul ul ul a {
  padding-left: 118px;
}

.selection-heading::before {
  /* icons */
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.accordion-menu label::before {
  background-image: url(../../images/icons.svg);
  background-repeat: no-repeat;
}
.accordion-menu label::before {
  /* arrow icon */
  left: 18px;
  background-position: 0 0;
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}

.accordion-menu input[type=radio]:checked + label::before {
  /* rotate arrow */
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.accordion-menu input[type=radio]:checked + label + ul,
.accordion-menu input[type=radio]:checked + label:nth-of-type(n) + ul {
  /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
  /* show children when item is checked */
  display: block;
}

.loading-layer-spinner-small {
  background-image: url(../../images/loading.gif);
  width: 32px;
  height: 32px;
  -webkit-background-size: 18px auto;
          background-size: 18px auto;
  background-repeat: no-repeat;
  background-position: 10px 10px;
}

.dg.ac {
  z-index: 1000 !important;
  top: 60px !important;
}

.captureTime-touchFriendly {
  bottom: 32px;
}

.captureTime.minimalUIMode {
  position: absolute;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 38px;
  padding-right: 6px;
  color: #656565;
  font-weight: normal;
  background-color: white;
  border: 1px solid #656565;
  z-index: 9;
  border-radius: 3px;
  cursor: default;
  text-align: center;
  width: auto;
  min-width: 83.73px;
  height: 36px;
  font-size: 25pt;
  display: block !important;
  z-index: 100;
  bottom: 20px;
  left: 20px;
  padding-left: 16px;
  padding-right: 16px;
  top: initial;
  text-shadow: initial;
}

.captureTime.noTimeline {
  display: none !important;
}

.captureTime.minimalUIMode .currentCaptureTime, .captureTime.minimalUIMode .captureTimeMain, {
  display: block;
}

.controls-touchFriendly .toggleSpeed.ui-button {
  height: 24px;
  bottom: 32px;
}

.controls-touchFriendly .timelineSliderFiller {
  bottom: 67px;
}

.timelineSelectorFiller {
  bottom: 67px;
}

.playbackButton-touchFriendly.ui-button {
  bottom: 36px
}

.toggleContextMapBtn, .contextMapContainer {
  display: none;
}

/* For IE 11 */
.timeText {
  min-width: 62px !important;
}

/* Override CSS from TimeMachine */
#browser_not_supported {
  display: none;
  width: 582px;
  top: calc(50% - 106px);
  left: calc(50% - 291px);
}

.current-location-text-container-touchFriendly, .annotations-resume-exit-container-touchFriendly {
  bottom: 96px !important;
}

.logosContainer-touchFriendly {
  bottom: 94px !important;
}
