@font-face {
    font-family: 'Blender'; 
    src: url("blender.ttf");
}

* {box-sizing: border-box;}
.row::after {content: "";clear: both;display: block;}
[class*="col-"] {float: left;padding: 15px;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


[class*="colz-"] {
    float: left;
    padding: 0px;
    /*border: 1px solid red;*/
}
.colz-1 {width: 8.33%;}
.colz-2 {width: 16.66%;}
.colz-3 {width: 25%;}
.colz-4 {width: 33.33%;}
.colz-5 {width: 41.66%;}
.colz-6 {width: 50%;}
.colz-7 {width: 58.33%;}
.colz-8 {width: 66.66%;}
.colz-9 {width: 75%;}
.colz-10 {width: 83.33%;}
.colz-11 {width: 91.66%;}
.colz-12 {width: 100%;}




.explainborder{
    /*pointer-events:none; */ /* deactiating clicking */
    position:absolute;
    border-style:solid;
    border-width:2px;
    border-color:#fff;
    background-color:rgba(100,100,100,0.5);
    top:100px;
    bottom:200px;
    border-radius: 10px;
    

    /*width:500px;*/
    left:200px;
    right:200px;
    /*width:500px;*/
    /*width: -webkit-calc(100% - 400px);
    width:    -moz-calc(100% - 400px);
    width:         calc(100% - 400px);*/
    overflow: scroll;
    
}
.blender{font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.explain{
    /*position:relative;*/
    font-size:4vw;
    color:#fff;
    text-align:center;
    /*width:500px;*/
}

#initial{ /* this currently has 3 divs */
    position:relative;
padding-top:120px;
padding-bottom:120px;
left:0px;
width:300%; /* Be careful with this. this is to scroll left */
}

.gbutton{
    position:relative;
    font-family:'Blender';
    background-color:Transparent;
    border:2px solid #fff;
    text-align:center;
    padding:15px 20px 15px 20px;
    color:#fff;
    font-size:20px;
    cursor:pointer;
    transition:background 0.5s ease-in-out;
    text-decoration:none;
    pointer-events:auto;
}
.gbutton:hover{
    background:#f4ae01;
    border:2px solid #fff;
    color:#fff;
}

.explaincontainer{
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    /*background-color:*/
    z-index:99;
}