@font-face {
    font-family: 'Blender'; 
    src: url("blender.ttf");
}

* {box-sizing: border-box;}
.row::after {content: "";clear: both;display: block;}
[class*="col-"] {float: left;padding: 15px;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


[class*="colz-"] {
    float: left;
    padding: 0px;
    /*border: 1px solid red;*/
}
.colz-1 {width: 8.33%;}
.colz-2 {width: 16.66%;}
.colz-3 {width: 25%;}
.colz-4 {width: 33.33%;}
.colz-5 {width: 41.66%;}
.colz-6 {width: 50%;}
.colz-7 {width: 58.33%;}
.colz-8 {width: 66.66%;}
.colz-9 {width: 75%;}
.colz-10 {width: 83.33%;}
.colz-11 {width: 91.66%;}
.colz-12 {width: 100%;}

/* close button */

/* ends here */
.explainborderhead{
    font: 14px/100% arial, sans-serif;
    text-shadow: 0 1px 0 #fff;
    text-align:right;
    color:#fff;
    font-weight:bold;
    background-color:transparent;
    padding:2px 15px;
    border-bottom:1px solid transparent;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    
    position:fixed;
    left:200px;right:200px;
    /*transform: translateX(-50%);*/
    display:block;
}

.explainborderbottom{
    font: 14px/100% arial, sans-serif;
    text-shadow: 0 1px 0 #fff;
    text-align:right;
    color:#fff;
    font-weight:bold;
    /*background-color:#aaa;*/
    padding:2px 15px;
    border-bottom:1px solid transparent;
  border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    bottom:200px;
    position:fixed;
    left:200px;right:200px;
    /*transform: translateX(-50%);*/
    display:block;

}

.explainborder{
    /*pointer-events:none; */ /* deactiating clicking */
    
    position:absolute;
    border-style:solid;
    border-width:2px;
    border-color:#fff;
    background-color:rgba(100,100,100,0.5);
    top:100px;
    bottom:240px;
    border-radius: 10px;
    /*left:200px;*/
    /*right:200px;*/
    overflow: hidden
}

.bottomDirectionNav{
    width:100%;
    position:fixed;
    /*left:200px;right:200px;*/
    display:block;
    bottom:190px;
}

.blender{font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.explain{
    position:relative;
    font-size:10vh;
    color:#fff;
    text-align:center;
    
}

#initial{ /* this currently has 3 divs */
    position:relative;
height:90%;
left:0px;
width:300%; /* Be careful with this. this is to scroll left */

}
#firstinitial{
    position:relative;
padding-top:10vw;
}
.storieshead{
    margin-top:1vw;
    font-size:5vw;
}
.gbutton{
    position:relative;
    font-family:'Blender';
    background-color:Transparent;
    border:2px solid #fff;
    text-align:center;
    padding:2vh;
    color:#fff;
    font-size:4vh;
    cursor:pointer;
    transition:background 0.5s ease-in-out;
    text-decoration:none;
    border-radius:4vh;
    pointer-events:auto;
}
.gbutton:hover{
    background:#f4ae01;
    border:2px solid #fff;
    color:#fff;
}

.explaincontainer{
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    /*background-color:*/
    z-index:99;
}

/* vid attributes */
#video_div_here{
    margin-left:5%;
    width:90%;
    height:20%;
    /*height:auto;*/
}
.vidContainer{
    position:relative;
    /*background-color:#f00;*/
    cursor:hand;
    height:20vw;
    border: 1px solid #656565 !important;
    overflow:hidden;
    
}
.vidContainer video {
    /*width:100%;*/
    /*height:100%;*/

    position:relative;
   
    /*margin:auto;*/
    /*object-fit: fill;*/
    height:100%;
}
.overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}
.videotext{
    position:absolute;

    
    font-size:3vw;
    color:#fff;
 margin-left: auto;
    margin-right: auto;
    left:50%;
    z-index:10;
  transform: translate(-50%, 50%);
}

/* /////////////  */

.intro_button {
    position:absolute;
    right:450px;
    top:20px;
    width: 100px;
    height: 20px;
    /*background: #259cdb !important;*/
    background: #fff;
    color:#333;
    border-radius:2px;
    border: 1px solid #656565 !important;
    border-radius: 2px !important;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    outline: none;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 11px !important;
    z-index: 30;
}

.show_intro_button {
    position:absolute;
    left:450px;
    top:20px;
    width: 100px;
    height: 20px;
    /*background: #259cdb !important;*/
    background: #fff;
    color:#333;
    border-radius:2px;
    border: 1px solid #656565 !important;
    border-radius: 2px !important;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    outline: none;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 11px !important;
    z-index: 30;
}
.full_screen_button {
    position:absolute;
    left:600px;
    top:20px;
    width: 100px;
    height: 20px;
    /*background: #259cdb !important;*/
    background: #fff;
    color:#333;
    border-radius:2px;
    border: 1px solid #656565 !important;
    border-radius: 2px !important;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    outline: none;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 11px !important;
    z-index: 30;
}
.jcpnavbutton{
    position:relative;
    font-family:'Blender';
    background-color:Transparent;
    border:2px solid #fff;
    text-align:center;
    padding:5px 10px 5px 10px;
    color:#fff;
    font-size:20px;
    cursor:pointer;
    transition:background 0.5s ease-in-out;
    text-decoration:none;
    pointer-events:auto;
}
.jcpnavbutton:hover{
    background:#f4ae01;
    border:2px solid #fff;
    color:#fff;
}
#jcpYearDiv{
    position:absolute;
    right:0px;
    bottom:0px;
    font-size:5vw;
    color:#fff;

    z-index:99;
}
.tourButton{
    position:relative;
    font-family:'Blender';
    background-color:rgba(100,100,100,0.5);
    border:2px solid #fff;
    text-align:center;
    padding:1vw;
    color:#fff;
    font-size:2vw;
    cursor:pointer;
    transition:background 0.5s ease-in-out;
    text-decoration:none;
    border-radius:10vw;
    pointer-events:auto;
}
.tourButton:hover{
    background:#f4ae01;
    border:2px solid #fff;
    color:#fff;
}
.relatableContentHead{
    
    color:#fff;
    font-weight:bold;
    background-color:#000;
    border-color:#aaa;
    padding:10px 15px;
    border-bottom:1px solid transparent;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    font-weight: bold;
    z-index:51;
    border-bottom:2px solid #fff;
    /*margin-bottom:20px;*/
}
.relatableContent{
    /*padding-left:10px;
    padding-right:10px;*/
    text-align:center;
    color:#fff;
    position:absolute;
    bottom:100px;
    right:0px;
    width:20vw;
    height:40px;
    background-color:rgba(40,55,65, 0.8);
    border:2px solid #fff;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    z-index:50;
    overflow:hidden;
}
.contentButton{
    font-family: "Blender",'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: transparent;

    border:2px solid #ff5722;
    padding: 10px;
    color: #FFF;
    font-size: 20px;
    z-index:99;
 
    position: relative;
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 70%;
    margin-top:10px;
    padding:10px;
    font-size: 20px;
    border-radius: 10px;
    z-index: 1;
}
.contentButton:hover{
    transition: background-color 0.5s ease;
    background-color: #ff5722;
    
}

.reopenButton{
    font-family: "Blender",'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #f4ae01;

    border:2px solid #f4ae01;
    padding: 10px;
    color: #FFF;
    font-size: 20px;
    z-index:99;
 
    position: relative;
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 70%;
    margin-top:10px;
    padding:10px;
    font-size: 20px;
    border-radius: 10px;
    z-index: 1;
}
.reopenButton:hover{
    transition: background-color 0.5s ease;
    background-color: #ff5722;
    
}

