.set-view-tool-speed-slow-button label {
  width: 33%;
}

.set-view-tool-speed-medium-button label {
  width: 35%;
}

.set-view-tool-speed-fast-button label {
  width: 33%;
}

.set-view-tool-start-time-button {
  width: 27%;
  border-left: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.set-view-tool-end-time-button {
  width: 27%;
  border-left: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.set-view-tool-start-time {
  width: 56%;
  border-right: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.set-view-tool-end-time {
  width: 56%;
  border-right: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.set-view-tool-start-time-text {
  width: 17%;
}

.set-view-tool-end-time-text {
  width: 17%;
}

.set-view-tool-start-delay-time {
  width: 31%;
}

.set-view-tool-end-delay-time {
  width: 31%;
}