.story-editor {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
}

.story-editor-head {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  width: auto;
  height: 49px;
  border-bottom: 1px solid black;
  background-color: #555960;
}

.story-editor-head p {
  width: 100%;
  height: 48px;
  margin: 0;
  padding-top: 0;
  padding-bottom: 2px;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.story-editor-content {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  margin: 0;
  padding: 10px 25px 20px 25px;
}

.story-editor-content p {
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.story-editor-content span {
  font-size: 14px;
}

.story-editor-nav {
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: 106px;
  border-top: 1px solid black;
  margin: 0;
  padding: 10px 25px 0 25px;
  background-color: #dddddd;
}

.story-editor-action {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 130px;
  width: auto;
  height: auto;
  margin: 0;
  padding: 10px 25px 20px 25px;
  overflow-y: scroll;
}

.custom-button {
  padding: 5px 10px;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: none;
  transition: background-color 0.1s, box-shadow 0.1s, border 0.1s;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  border: 1px solid #7d7d7d;
  color: white;
  background-color: #7d7d7d;
  height: 26px;
}

.custom-button:hover {
  /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);*/
  background-color: #4d4d4d;
  border: 1px solid #4d4d4d;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.custom-button:active {
  background-color: #4d4d4d;
  border: 1px solid #4d4d4d;
  box-shadow: none;
}

.custom-button-primary {
  background-color: #007bff;
  border: 1px solid #007bff;
}

.custom-button-primary:hover {
  background-color: #005cbf;
  border: 1px solid #005cbf;
}

.custom-button-primary:active {
  background-color: #005cbf;
  border: 1px solid #005cbf;
}

.custom-button-danger {
  background-color: #dc3545;
  border: 1px solid #dc3545;
}

.custom-button-danger:hover {
  background-color: #a71120;
  border: 1px solid #a71120;
}

.custom-button-danger:active {
  background-color: #a71120;
  border: 1px solid #a71120;
}

.custom-button-info {
  background-color: #17a2b8;
  border: 1px solid #17a2b8;
}

.custom-button-info:hover {
  background-color: #007082;
  border: 1px solid #007082;
}

.custom-button-info:active {
  background-color: #007082;
  border: 1px solid #007082;
}

.custom-radio {
  padding: 5px 10px;
  text-align: center;
  color: #666666;
  font-size: 14px;
  line-height: 14px;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: none;
  transition: background-color 0.1s, box-shadow 0.1s;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #bbbbbb;
  height: 26px;
}

.custom-radio:hover {
  color: #333333;
  background-color: #eeeeee;
}

.custom-radio-active {
  color: white !important;
  background-color: #007bff !important;
  border: 1px solid #007bff;
}

.custom-radio-left {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right: none !important;
}

.custom-radio-right {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.custom-radio-middle {
  border-radius: 0 !important;
  border-right: none !important;
}

.hide {
  display: none;
}

.even-space-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-button {
  width: 47%;
}

.next-button {
  width: 47%;
}

.normal-button {
  width: 47%;
}

.custom-textbox {
  box-sizing: border-box;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid #7d7d7d;
  font-size: 14px;
  outline: none;
  border-radius: 2px;
  display: block;
  width: 100%;
  resize: none;
  height: 26px;
}

.large-textbox {
  height: 65px;
}

.add-bottom-margin {
  margin-bottom: 20px;
}

.add-bottom-margin-small {
  margin-bottom: 5px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

.highlight-text {
  font-family: "Exo2-BoldItalic", sans-serif !important;
  color: black;
}

.story-editor-accordion .ui-accordion-header {
  padding-top: 5px;
  padding-bottom: 4px;
  font-size: 14px !important;
}

.story-editor-accordion .ui-accordion-header-active {
  border: 1px solid #005cbf !important;
  background-color: #007bff !important;
  color: white !important;
}

.story-editor-accordion .ui-accordion-header-active .ui-icon {
  background-image: url(../../images/ui-icons_ffffff_256x240.png) !important;
}