.story-editor-set-waypoint-view {
  width: 36%;
}

.story-editor-add-waypoint {
  width: 24%;
}

.story-editor-delete-waypoint {
  width: 31%;
}

.story-editor-thumbnail-preview-container {
  position: relative;
}

.story-editor-thumbnail-preview-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
}

.story-editor-story-metadata .story-editor-thumbnail-preview-landscape {
  min-height: 83px;
}

.story-editor-story-metadata .story-editor-thumbnail-preview-portrait {
  min-height: 156px;
}

.story-editor-waypoints .story-editor-thumbnail-preview-landscape {
  min-height: 69px;
}

.story-editor-waypoints .story-editor-thumbnail-preview-portrait {
  min-height: 129px;
}

.story-editor-thumbnail-preview-landscape {
  width: 60%;
  height: auto;
  border: 1px solid #4d4d4d;
  background: url(../../images/loading.gif) #000 center no-repeat;
  box-sizing: border-box;
}

.story-editor-thumbnail-preview-portrait {
  width: 36%;
  height: auto;
  border: 1px solid #4d4d4d;
  background: url(../../images/loading.gif) #000 center no-repeat;
  box-sizing: border-box;
}