/*****************************************************************
This is the main template of the wizard (step by step guides)
******************************************************************/
.wizard {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
}

.wizard-head {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  width: auto;
  height: 49px;
  border-bottom: 1px solid black;
  background-color: #555960;
}

.wizard-head p {
  width: 100%;
  height: 48px;
  margin: 0;
  padding-top: 0;
  padding-bottom: 2px;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.wizard-head .close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  color: white;
}

.wizard-head .close span {
  font-family: sans-serif !important;
  font-size: 20px;
  line-height: 1;
  color: white;
  z-index: 2;
}

.wizard-head .close:before {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  width: 30px;
  height: 30px;
  content: "";
  z-index: 1;
  border-radius: 20px;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition:  opacity 0.2s ease;
}

.wizard-head .close:hover:before {
  opacity: 0.1;
}

.wizard-body {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  margin: 0;
  padding: 15px 25px 20px 25px;
}

.wizard-body h3 {
  font-size: 18px;
  line-height: 20px;
  margin-top: 7px;
  margin-bottom: 7px;
  color: black;
  font-family: "Exo2-Bold", sans-serif !important;
  font-weight: normal;
}

.wizard-body p {
  font-size: 14px;
  line-height: 20px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.wizard-body span {
  font-size: 14px;
}

.wizard-body label {
  font-size: 14px;
}

.wizard-body ul {
  margin-top: 5px;
  margin-bottom: 5px;
}

.wizard-body li {
  font-size: 14px;
}

.wizard-body-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 111px;
  width: auto;
  height: auto;
  margin: 0;
  padding: 15px 25px 20px 25px;
  overflow-y: auto;
}

.wizard-body-bottom {
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: 100px;
  border-top: 1px solid black;
  margin: 0;
  padding: 10px 25px 0 25px;
  background-color: #dddddd;
}

.hide {
  display: none;
}

.force-hide {
  display: none !important;
}

.even-space-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.even-space-content-align-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.left-align-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.vertical-align-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.full-width-button {
  width: 100% !important;
}

.half-width-button {
  width: 47% !important;
}

.add-top-margin {
  margin-top: 20px !important;
}

.add-top-margin-medium {
  margin-top: 10px !important;
}

.add-top-margin-small {
  margin-top: 5px !important;
}

.add-bottom-margin {
  margin-bottom: 20px !important;
}

.add-bottom-margin-medium {
  margin-bottom: 10px !important;
}

.add-bottom-margin-small {
  margin-bottom: 5px !important;
}

.add-left-margin-medium {
  margin-left: 10px !important;
}

.add-left-margin-small {
  margin-left: 5px !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

.highlight-text {
  font-family: "Exo2-Bold", sans-serif !important;
  color: black;
}

.wizard .ui-widget-overlay {
  background: black none;
  opacity: 0.8;
  position: absolute;
  border: 1px solid black;
}

.image {
  border-spacing: 0;
  display: inline-block;
  border-radius: 2px;
}

.image img {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: table-cell;
  overflow: hidden;
  border-radius: 2px;
}

.custom-dropdown {
  position: relative;
  display: block;
  cursor: pointer;
}

.custom-dropdown > a {
  padding: 5px 26px 5px 8px;
  outline: none;
  border-radius: 2px;
  box-shadow: none;
  transition: background-color 0.1s, box-shadow 0.1s, border 0.1s;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  color: black;
  height: 28px;
  border: 1px solid #7d7d7d;
  background-color: white;
  width: 100%;
  cursor: pointer;
}

.custom-dropdown > a > span {
  text-align: left;
  font-size: 14px !important;
  line-height: 16px;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

.custom-dropdown > a:after {
  position: absolute;
  content: "";
  top: 13px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: black;
}

.custom-dropdown > div {
  display: none;
  position: absolute;
  margin-top: -1px;
  border: 1px solid #7d7d7d;
  background-color: white;
  z-index: 1;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  min-width: 100%;
}

.custom-dropdown > a:focus {
  pointer-events: none;
}

.custom-dropdown > a:focus + div {
  display: block;
}

.custom-dropdown > div:hover {
  display: block;
}

.custom-dropdown > div > a {
  color: black;
  padding: 5px 8px;
  text-decoration: none;
  text-align: left;
  display: block;
  outline: none;
  font-size: 14px !important;
  line-height: 16px;
  height: 26px;
  white-space: nowrap;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  box-sizing: border-box;
}

.custom-dropdown > div > a:hover {
  background-color: #e1e1e1;
  color: black;
}

.custom-accordion .ui-accordion-header {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px !important;
  min-height: 20px;
}

.custom-accordion .ui-accordion-header-active {
  border: 1px solid #005cbf !important;
  background-color: #007bff !important;
  color: white !important;
}

.custom-accordion .ui-accordion-header-active .ui-icon {
  background-image: url(../../images/ui-icons_ffffff_256x240.png) !important;
}

.custom-accordion .ui-accordion-content {
  padding: 15px 20px 17px 20px;
  overflow: visible;
}

.custom-accordion .custom-accordion-header-active {
  border: 1px solid #005cbf !important;
  background-color: #007bff !important;
  color: white !important;
}

.custom-accordion .custom-accordion-header-active .ui-icon {
  background-image: url(../../images/ui-icons_ffffff_256x240.png) !important;
}

.custom-textbox {
  box-sizing: border-box;
  padding: 5px 7px;
  background: rgb(255, 255, 255);
  border: 1px solid #7d7d7d;
  font-size: 14px !important;
  outline: none;
  border-radius: 2px;
  display: block;
  width: 100%;
  min-height: 28px;
  max-height: 28px;
  resize: vertical;
}

textarea.custom-textbox {
  min-height: 60px !important;
  max-height: 200px !important;
}

input[readonly].custom-textbox {
  cursor: default;
  pointer-events: none;
  background: rgb(230, 230, 230);
}

.custom-dialog {
  background: white;
  padding: 0;
  margin: 0;
  border-radius: 2px;
}

.custom-dialog .ui-dialog-titlebar {
  background: white;
  border: 0;
  border-bottom: 1px solid #aaaaaa;
  padding: 1.1em 1.2em 1.2em 1.2em;
}

.custom-dialog .ui-dialog-titlebar .ui-button.ui-dialog-titlebar-close {
  background: white none !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  position: absolute !important;
  right: 0.7em !important;
  top: 1em !important;
}

.custom-dialog .ui-dialog-titlebar .ui-button.ui-dialog-titlebar-close:hover {
  background: white none !important;
  border: 0 !important;
}

.custom-dialog .ui-dialog-titlebar .ui-button.ui-dialog-titlebar-close:active {
  background: white none !important;
  border: 0 !important;
}

.custom-dialog .ui-dialog-title {
  font-size: 16px;
  font-weight: normal;
}

.custom-dialog .ui-dialog-content {
  padding: 0.7em 1.2em 0.7em 1.2em;
}

.custom-dialog .ui-dialog-buttonpane {
  margin: 0;
  padding: 1em 1em 1em 1em;
}

.custom-dialog .ui-dialog-buttonpane .ui-button {
  margin: 0 0 0 0.7em;
}

.custom-dialog .ui-button {
  border: 1px solid #7d7d7d;
  background: #7d7d7d none;
  color: white;
  border-radius: 2px;
}

.custom-dialog .ui-button:not(:disabled):hover {
  background-color: #4d4d4d;
  border: 1px solid #4d4d4d;
}

.custom-dialog .ui-button:not(:disabled):active {
  background-color: #4d4d4d;
  border: 1px solid #4d4d4d;
}

.custom-dialog .ui-dialog-buttonpane .ui-button.ui-action-button {
  background-color: #dc3545;
  border: 1px solid #dc3545;
}

.custom-dialog .ui-dialog-buttonpane .ui-button.ui-action-button:not(:disabled):hover {
  background-color: #a71120;
  border: 1px solid #a71120;
}

.custom-dialog .ui-dialog-buttonpane .ui-button.ui-action-button:not(:disabled):active {
  background-color: #a71120;
  border: 1px solid #a71120;
}

.custom-dialog .ui-dialog-content .ui-icon-alert {
  float: left;
  margin: 1px 0 0 0;
  padding: 0;
}

.custom-dialog .ui-dialog-content p {
  display: grid;
  grid-template-areas: "a b";
  grid-template-columns: 20px auto;
  align-items: center;
  grid-gap: 5px;
}

.custom-radio {
  padding: 0;
  margin: 0;
  text-align: left;
  outline: none;
  cursor: pointer;
  box-shadow: none;
  transition: background-color 0.1s, box-shadow 0.1s;
  text-decoration: none;
  box-sizing: border-box;
  background-color: white;
  border: 0;
  border-spacing: 0;
  display: inline-block;
}

.custom-radio:not(:disabled):hover {
  color: #333333;
  background-color: #eeeeee;
}

.custom-radio:disabled {
  opacity: 0.4;
}

.custom-radio.custom-radio-right {
  margin-left: -1px;
}

.custom-radio.custom-radio-middle {
  margin-left: -1px;
}

.custom-radio.custom-radio-left [type="radio"] + label {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right: 0 !important;
}

.custom-radio.custom-radio-right [type="radio"] + label {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.custom-radio.custom-radio-middle [type="radio"] + label {
  border-radius: 0 !important;
  border-right: 0 !important;
}

.custom-radio [type="radio"] + label {
  position: relative;
  padding: 7px 13px 6px 32px;
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
  display: table-cell;
  color: #666666;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
}

.custom-radio [type="radio"] {
  position: absolute;
  left: -9999px;
}

.custom-radio [type="radio"]:checked + label {
  color: white;
  background-color: #007bff;
  border-color: #007bff;
}

.custom-radio [type="radio"] + label:before {
  content: '';
  position: absolute;
  left: 11px;
  top: 7px;
  width: 12px;
  height: 12px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}

.custom-radio [type="radio"] + label:after {
  content: '';
  width: 8px;
  height: 8px;
  background: #005cbf;
  position: absolute;
  top: 10px;
  left: 14px;
  border-radius: 100%;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.custom-radio [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.custom-radio [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.custom-button {
  padding: 5px 8px;
  text-align: center;
  font-size: 14px !important;
  line-height: 14px;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: none;
  transition: background-color 0.1s, box-shadow 0.1s, border 0.1s;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  color: white;
  height: 28px;
  border: 1px solid #7d7d7d;
  background-color: #7d7d7d;
}

.custom-button:not(:disabled):hover {
  background-color: #4d4d4d;
  border-color: #4d4d4d;
}

.custom-button:not(:disabled):active {
  background-color: #4d4d4d;
  border-color: #4d4d4d;
}

.custom-button:disabled {
  opacity: 0.4;
  cursor: default;
  border-color: #7d7d7d;
  background-color: #7d7d7d;
}

.custom-button-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.custom-button-primary:not(:disabled):hover {
  background-color: #005cbf;
  border-color: #005cbf;
}

.custom-button-primary:not(:disabled):active {
  background-color: #005cbf;
  border-color: #005cbf;
}

.custom-button-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.custom-button-danger:not(:disabled):hover {
  background-color: #a71120;
  border-color: #a71120;
}

.custom-button-danger:not(:disabled):active {
  background-color: #a71120;
  border-color: #a71120;
}

.custom-button-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.custom-button-info:not(:disabled):hover {
  background-color: #007082;
  border-color: #007082;
}

.custom-button-info:not(:disabled):active {
  background-color: #007082;
  border-color: #007082;
}

.custom-checkbox {
  cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
  cursor: pointer;
}

.custom-text-info, .custom-text-info p, .custom-text-info a {
  color: #17a2b8;
}

.custom-text-info a:hover {
  color: #007082;
}

.custom-text-primary, .custom-text-primary p, .custom-text-primary a {
  color: #007bff;
}

.custom-text-primary a:hover {
  color: #005cbf;
}

.custom-text-danger, .custom-text-danger p, .custom-text-danger a {
  color: #dc3545;
}

.custom-text-danger a:hover {
  color: #a71120;
}