@font-face {
  font-family: "EarthTime";
  src: url("https://earthtime.org/css/fonts/Exo2-Regular.woff") format("woff");
}

body {
  /* Removes the annoying bounce effect at the top/bottom when scrolling on phones/tablets */
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.earthtime-story {
  position: relative;
  height: auto;
  min-height: 100px;
  font-family: 'EarthTime', sans-serif !important;
  overflow-x: hidden;
  z-index: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.earthtime-story.iframe {
  height: calc(100vh + 1px);
}

.earthtime-about {
  font-family: 'EarthTime', sans-serif !important;
  overflow-x: hidden;
  color: white;
  background-color: #333;
  padding: 20px;
  text-align: justify;
}

.earthtime-about-heading {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: normal !important;
  text-align: center;
}

.earthtime-about p {
  font-size: 14px;
  line-height: 1.2rem;
}

.earthtime-about-logos img {
  background: white;
  margin: 5px;
  padding: 5px;
}

.earthtime-about-logos {
  text-align: center;
 -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.earthtime-logo {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  bottom: 10px;
  right: 10px;
  margin-left: 10px;
  width: 55px;
  height: 55px;
  z-index: 2;
  background-color: #333;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  text-align: center;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  outline: none;
}

.earthtime-story-title-overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
}

.earthtime-story-title-overlay.enabled {
  background: rgba(0, 0, 0, 0.3);
}

.earthtime-title {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  color: white;
  margin: 0 20px;
  top: 50vh;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.earthtime-title-headline {
  font-size: 18px;
  line-height: 1.1;
}

.earthtime-title-rule {
  width: 11rem;
  margin: .8rem auto 1rem;
  border-top: 2px solid #d87f16;
}

.earthtime-title-caption {
  font-size: 20px;
  line-height: 1.35;
  margin-top: 1rem;
  padding: 0 10vw;
  text-align: center;
}

.earthtime-title-author {
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  font-size: 15px;
  line-height: 1.45;
}

.earthtime-loading {
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  margin-right: 15%;
  font-size: 8px;
  line-height: 1.45;
  text-align: right;
  color: #ccc;
}

.earthtime-logo > a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border: none;
}

.earthtime-story-frame {
  position: relative;
  pointer-events: none;
  width: 100%;
  height: 100vh;
}

.earthtime-story-frame-content-container {
  position: relative;
  background: rgba(34, 34, 34, 1);
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.earthtime-story-frame-content-container.cover {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.earthtime-story-frame-content {
  height: 100%;
  width: auto;
  max-height: none;
  max-width: none;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.earthtime-story-frame-content.contain {
  margin-left: 0%;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: unset;
}

.earthtime-caption {
  z-index: 1;
  color: white;
  background-color: rgba(34, 34, 34, 0.53);
  margin: 0 30px;
  padding: 0.4rem 0.6rem 0.4rem 0.6rem;
  font-size: 0.9rem;
  border-radius: .4rem;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  position: absolute;
  visibility: hidden;
}

.earthtime-caption-title {
  font-weight: bolder;
}

.overflow-scrolling {
  -webkit-overflow-scrolling: touch;
}

.overflow-hidden {
  overflow: hidden;
}

.earthtime-media {
  position: inherit;
}

.earthtime-nostory-frame {
  text-align: center;
  font-size: 28px;
  color: white;
  padding: 80px;
  padding-bottom: 20px;
  background: #333;
}

.earthtime-legend {
  position: fixed;
  top: -9px;
  right: -9px;
  visibility: hidden;
}

.earthtime-legend > div {
  transform-origin: top right !important;
}

.earthtime-legend.dimmed {
  opacity: 0.65;
}

.forcefit video, .forcefit img {
  object-fit: contain;
  width: 100%; /* object fit requires element to have a width that is not 'auto' */
}
