html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#map-div {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 17pt;
}
#date-widget {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 17pt;

  font-size: large;
  background: whitesmoke;
  color: #999;
}
#date-widget #animate-button,
#date-widget #day-slider,
#date-widget #current-date,
#date-widget #offset-slider,
#date-widget #current-offset {
  position: absolute;
  width: auto;
}
#date-widget #animate-button { width: 20pt; left: 0; }
#date-widget #day-slider { left: 22pt; right: 336pt; }
#date-widget #current-date { width: 70pt; right: 264pt; }
#date-widget #offset-slider { width: 200pt; right: 62pt; }
#date-widget #current-offset { width: 60pt; right: 0; }

#loading {
  position: fixed;
  left: 20%;
  top: 20%;
  right: 20%;
  bottom: 20%;
  padding: 10pt;
  z-index: 100;
  background: whitesmoke;
  color: #999;
  font-size: 24pt;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid black;
}
#loading table {
  height: 100%;
  width: 100%;
  text-align: center;
}
