DBHOST="localhost"
DBUSER="username"
DBNAME="dbname"
DBPASSWORD="secret"

BUCKET=googlecloudbuckettouploadto.mydomain.org
NAME=viirs-0.5NM-30days-3dtc
RADIUS=0.008333333333333333
TIMEWINDOW="30 days"
DETECTIONS=3
